$d:block;
$size:3.5vh;
$r:relative;
* {
    font-weight: bold;
	color: grey;
}
html,
body {
    height: 100%;
    display:$d;
}
.container {
	width: 100%;
	height: 100%;
    border: 3px solid grey;
    min-width:400px;
}

label {
	display:$d;
}

#firstname,
#mail {
	display:$d;
	position: $r;
	left: 5vh;
	top: 3vh;
    font-size:$size;
    min-width:40vh;
}

.first {
	position:$r;
	left: 5vh;
	top: 3vh;
	font-size:$size;
}

.check {
	position:$r;
	left: 5vh;
	top: 3vh;
	font-size: 2.5vh;
}

#ask,#two{
	font-size: $size;
}

.button {
	position:$r;
	left: 5vh;
	font-size: 2.5vh;
}

#send {
	background-color: black;
	color: white;
	width: 8vh;
	height: 4vh;
}

.left {
	position: $r;
	left: 2vh;
}

fieldset {
	border: none;
	display: inline-block;
}

